@import 'tailwindcss';

@theme {
  --font-brand: 'Noto Serif TC', sans-serif;
  --background-image-hero-bg: url('./assets/home/hero.png');
}

@layer base {
  body {
    font-family: var(--font-brand);
  }
}
