@import 'tailwindcss';

@theme {
  --font-brand: 'Noto Serif TC', sans-serif;
  --bg-image-hero: url('./assets/home/hero.png');
  --bg-image-about: url('./assets/home/about.png');
  --bg-image-auth: url('./assets/auth/bg.jpg');
  --bg-image-rooms-deco: url('./assets/home/decos/rooms-2.png');
}

@layer base {
  body {
    font-family: var(--font-brand);
  }
}

@layer utilities {
  .bg-common {
    @apply bg-cover bg-center bg-no-repeat;
  }
}